<!-- extend base file -->
{% extends 'templates/foundations/site_foundation.html' %}

{% block title %} {{ request.user.user_name }} - {{ folder.name }} {% endblock %}

{% load staticfiles %}

{% block body %}

<br>
<div class="text-muted">
        <div class="container">

            <div> <!-- FOLDER HEADER -->
                <h1>{{ folder.name }}</h1>
            </div>

            <hr/>

            {% include 'templates/components/new_folder.html' %}

            {% for folder in sub_folders %}
                <div class="row">
                        <div class="col"><h2><a href="/MyLib/{{ folder.universal_id }}/">{{ folder.name }}</a></h2></div>
                        <div class="col">
                            <form action="delete_folder/" method="post">
                                {% csrf_token %}
                                <input name="folder" type="hidden" value="{{ folder.universal_id }}" />
                                <button>x</button>
                            </form>
                        </div>
                </div>
            {% endfor %}

            {% for site in sub_sites %}
                <div class="row">
                    <div class="col"><h2><a href="{{ site.get_url }}">{{ site.title }}</a></h2></div>
                    <div class="col">
                        <form action="delete_site/" method="post">
                            {% csrf_token %}
                            <input name="site" type="hidden" value="{{ site.id }}" />
                            <input name="folder" type="hidden" value="{{ folder.name }}" />
                            <button>x</button>
                        </form>
                    </div>
                </div>
            {% endfor %}

        </div>
</div>

{% endblock %}