<!-- extend base file -->
{% extends 'templates/foundations/site_foundation.html' %}
{% load staticfiles %}
{% csrf_token %}

{% block title %} {{ site.title }} {% endblock %}

{% block body %}
    <br> <!-- TEMPORARY SPACING FIX - I DON'T LIKE THIS --->
    <div class="text-muted"> <!-- SITE CONTAINER --->

        <div id="todays_feature" class="siteheader container"> <!-- USERS SITE HEADER -->

            <div class="row"> <!-- ROW 1 -->
                <h1>{{ site.title }}</h1>
                <hr/>

                <img class="user_avatar" src="{{ request.user.image }}"/>
            </div>

            <div class="row"> <!-- SITE INFO -->

                    <ul>
                        <li>
                            <p>Subject: {{ site.subject }}</p>
                        </li>
                         <li>
                             <p>Created: {{ site.time_stamp }} by <span style="font-weight:bold;">{{ request.user.user_name }}</span></p>
                         </li>
                         <li>
                             <p>tags {% for tag in site.get_tag_list %} #{{ tag }} {% endfor %} </p>
                         </li>
                    </ul>

                <hr/>
                <div class="row">
                    <div class="col">
                        <form action="save_site/" method="post"> <!-- SAVE OR DELETE FORM -->
                            {% csrf_token %}
                            <select id="folder" name="folder">
                                {% for folder in folders %}
                                    <option value="{{ folder.name }}">{{ folder.name }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" name="save_button" id="save_button">Save</button>
                        </form>
                    </div>


                    <div class="col"> <!-- BUTTONS COL 2 -->
                        <div class="row">
                            <button id="up_vote">↑</button>
                        </div>
                        <div class="row">
                            <button id="down_vote">↓</button>
                        </div>
                    </div>

                    <div class="col"> <!-- VOTES COL 3 -->
                        <div class="votes">
                            <h1 id="votes">{{ site.votes }}</h1>
                        </div>
                    </div>
                    </div>
            </div>
        </div>

        <hr/>

        <div class="container"> <!-- SITE CONTENT CONTAINER --->

            <!-- inclusion of autoescaped website content -->
            {% autoescape off %}{{ site.content }}{% endautoescape %}

            <br>
            <br>
            <h3>Comments</h3>

            <!-- !Note: Same code is duplicated in comments.html! -->
            <div id="comments">
                {% for comment in site.get_comments %}
                    <div class="row comment">
                        <ul>
                            <li>
                                <p>{{comment.text}}</p>
                            </li>
                            <li>
                                <p>at: {{ comment.time_stamp }}</p>
                            </li>
                            <li>
                                <p>by: {{ comment.owner.user_name }}</p>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>

            <input id="new_comment" name="text" type="text"/>
            <button id="comment_button">-></button>

            <br>
            <br>
            <footer>
                <script src ="{% static 'new_project/scripts/site_script.js' %}"></script>
            </footer>
        </div>

    </div>
{% endblock %}